{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/board2.css' %}">


{% block content %}

<div class="container">
    <div class="todoList">

        <div class="row d-flex justify-content-center container">
            <div class="col-md-8">
                <div class="card-hover-shadow-2x mb-3 card">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists from {{ user.username }}</div>
                    </div>
                    <div class="scroll-area-sm">
                        <perfect-scrollbar class="ps-show-limits">
                            <div style="position: static;" class="ps ps--active-y">
                                <div class="ps-content">
                                    <ul class=" list-group list-group-flush">
                                        <!--loop into tasks-->
                                        {% for task in tasks %}
                                            <!--Check user -->
                                            {% if task.user == user %}

                                                <li class="list-group-item">

                                            <div class="todo-indicator bg-warning"></div>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-2">
                                                        <div>
                                                            {% if task.state == "In Progress" %}
                                                                <i class="fa fa-spinner" aria-hidden="true"> {{ task.state }}</i>
                                                            {%  endif %}
                                                            {% if task.state == "To-Do" %}
                                                                <i class="fa fa-square-o" aria-hidden="true"> {{ task.state }}</i>
                                                            {%  endif %}
                                                            {% if task.state == "Finished" %}
                                                                <i class="fa fa-check-square-o" aria-hidden="true"> {{ task.state }}</i>
                                                           {%  endif %}
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-center">
                                                        <div class="widget-heading">{{ task.name }} <div class="badge badge-danger ml-2"> {{ task.category.name }} </div>
                                                        </div>
                                                        <div class="widget-subheading"><i>{{ task.creation_date.date}}</i></div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <a href="/updatetask/{{ task.pk }}">
                                                            <button class="border-0 btn-transition btn btn-outline-success" >
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </a>
                                                        <a href="/deletetask/{{ task.pk }}">
                                                            <button class="border-0 btn-transition btn btn-outline-danger" >
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        <hr>
                                        </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>

                    <div class="d-block text-right card-footer">
                        <a href="/createcategory"><button class="btn btn-primary">New Category</button></a>
                        <a href="/createtask"><button class="btn btn-primary">New Task</button></a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}
