{% extends 'base.html' %}
{% block title %} Create New List {% endblock %}
{% block content %}
<!-- Begin page content -->
<main style="margin-top: auto">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="sedes">
                    <span>Conoce las</span>
                    <h1>Sedes en <b>MDP</b></h1>
                    <!--<span class="spanRight">haciendo clic aqui</span>-->
                    <a role="button" href="/sedes" class="btn btn-success btn-lg sedesButton">Click AQUI</a>
                </div>
            </div>
            <div class="col">
                {% load static %}
                <img src="{% static 'images/vacunas.png' %}" alt="" width="600" height="600">
            </div>
        </div>
    </div>
</main>

{% endblock %}