{% extends 'base.html' %}
{% block title %} Sedes {% endblock %}
{% block content %}

<!-- Begin page content -->
<main>
    <div class="container">
        <div class="row">

            <!--sedes-->
            {% for x in sedes %}
            {% if x.habilitada%}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{x.imagen.url}}" alt="Imagen">
                <div class="card-body">
                    <h1 class="text-center">{{x.nombre}}</h1>
                    <hr/>
                    <div class="row">
                        <div class="col">
                            <p><b>Calle:</b> {{x.calle}} {{x.numero}}</p>
                        </div>
                        <div class="col">
                            <p><b>Vacuna:</b> {{x.vacuna}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!--Calcular prom tiempo espera-->
                            <p><b>Espera estimada:</b><br> {{ promedio }} minutos</p>
                        </div>
                        <div class="col">
                            <p><b>Estado:</b> {{x.estado}}</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <!--fin sedes-->
            {% endif %}
            {% endfor %}

        </div>
    </div>
</main>

{% endblock %}